%p
  Eine Web-App von
  = link_to "Dennis Reimann", "http://dennisreimann.de"
%p
  Alle Inhalte basieren auf den
  = link_to "offenen Daten Bremens", "http://daten.bremen.de"
%p
  Kartenmarker von
  = link_to "Nicolas Mollet", "http://mapicons.nicolasmollet.com/"