%form#kitas-filter.filter-form.form-stacked(url="/" method="get")
  .row
    .span5
      .clearfix
        %label
          %strong Trägerart
        .input
          %ul.inputs-list
            - traeger_arten.each do |art|
              %li
                %label
                  %input(name="traeger_art[]" type="checkbox" checked="checked" value="#{art}")
                  %span= art
          %input(name="traeger_art[]" type="hidden" value="")
    .span3
      .clearfix
        %label
          %strong Alter
        .input
          %ul.inputs-list
            %li
              %label
                %input(name="alter[]" type="checkbox" value="plaetze_03")
                %span 0 bis 3 Jahre
            %li
              %label
                %input(name="alter[]" type="checkbox" value="plaetze_36")
                %span 3 bis 6 Jahre
            %li
              %label
                %input(name="alter[]" type="checkbox" value="plaetze_6")
                %span ab 6 Jahre
  .actions
    %input(id="filter-submit" type="submit" class="btn primary" value="Filtern")
    &nbsp;
    %button(id="filter-reset" type="reset" class="btn") Zurücksetzen
    %button(id="filter-close" type="reset" class="btn pull-right") Schließen